Q2_AI-201_Fundamentals_of_Agentic_AI/assignment_1/n8n_NASA_Solar_Flare_Alert.json
{
  "name": "NASA Solar Flare Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "fd502e78-a048-47cc-9760-ca650a697423",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d8c18923-1753-461e-84ed-3639df7d981c",
              "leftValue": "={{ $json.classType }}",
              "rightValue": "X",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "6b5ee9af-4faa-4fb8-a674-826646aa200f",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "request",
        "operation": "send",
        "binId": "1757196037063-7707649297080",
        "binContent": "=There was a solar flare of class {{ $json.classType }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.postBin",
      "typeVersion": 1,
      "position": [
        624,
        -96
      ],
      "id": "2036fe63-c019-4b8b-8e5f-30a725b72a6a",
      "name": "PostBin(true)"
    },
    {
      "parameters": {
        "resource": "request",
        "operation": "send",
        "binId": "1757196037063-7707649297080",
        "binContent": "=There was a solar flare of class {{ $json.classType }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.postBin",
      "typeVersion": 1,
      "position": [
        624,
        96
      ],
      "id": "3093a316-02ff-4546-bf7a-33bef8c3b96a",
      "name": "PostBin(false)"
    },
    {
      "parameters": {
        "resource": "donkiSolarFlare",
        "additionalFields": {
          "startDate": "={{ $today.minus(7, 'months') }}"
        }
      },
      "type": "n8n-nodes-base.nasa",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "2b1ac5ca-c82d-435c-92c4-bbe5d5f4e783",
      "name": "NASA",
      "credentials": {
        "nasaApi": {
          "id": "3OWDY4a3vKdx5X8f",
          "name": "NASA account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "NASA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "PostBin(true)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PostBin(false)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NASA": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Karachi",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "02d5931d-1123-449c-9dc7-9535fcaafd8d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a48dfce910264c546a39851b17a82c6557973f7b9c75f3990df5acbf5fa63f78"
  },
  "id": "IR3m7zZUFu54g2BA",
  "tags": []
}